.container {
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 1vh;
    padding: 2vh;
    box-shadow: -3px 3px #e5e5e5, 3px -3px #e5e5e5;
  border-radius: 3px;
  }
  
  .stockname {
    margin-bottom: 0;
    font-size: 36px;
  }
  
  
  .uptodate {
    color: #8b8b8b;
  }
  
  .changed {
    display: flex;
    justify-content: space-between;
    color: #536d2d;
  }

.main {
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .actual {
  width: 20vw;
  }

  .onstock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .arrow {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .message {
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 2rem;
    color: green
  }

  .shedule {
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  thead> tr > th:hover {
cursor: pointer;
color: #3c6688;
  }

  .spinner {
    margin-right: 5vw;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7986cb;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.arrowRotate {
  height: 15px;
  margin-left: 5px;
}